.home {
    /* border:solid red 1px; */
    display: flex;
    flex-direction: column;
    flex:1;
    /* overflow: scroll; */
}

.pages-holder {
    display: flex;
    flex-direction: column;
    flex: 1;
}