.primary-header{
    /* border: 1px solid red; */
    display: flex;
    gap: var(--gap, 1rem);
    align-items: center;
    justify-content: space-between;
    z-index: 99999;
    padding: 1.25rem 0 1rem;

    position: fixed;
    width: 100%;
    top: 0;    
}

.logo{
    margin: 1.5rem;
}

.logo-image {
    width: 2.5rem; /* Adjust to the desired size */
    height: auto; /* Maintain the aspect ratio */
}

.mobile-nav-toggle{
    display: none;
}

.primary-navigation{
    display: flex;
    margin: 0;
    margin-inline: 2rem;
    padding: 0;
    gap: var(--gap, 1rem);
    list-style-type: none;

    

}

.primary-navigation li {
    display: flex;
    /* align-items: center; */
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2;
}

.primary-navigation li span {
    font-weight: bold;
    color: #800020;
}

.primary-navigation li a {
    text-decoration: none;
    color: var(--title-text-color);
    transition: color 0.3s ease-in-out; /* Smooth color transition on hover */
}

.primary-navigation a > span {
    margin-inline-end: .5em;
}

.primary-navigation li a:hover {
    color: #800020
}

.primary-navigation li span, .primary-navigation li a {
    cursor: pointer;
}

@media (max-width: 40em) {
    .primary-header{
        background: hsl(134 63% 88%/ 0.8);
    }
    .primary-navigation {
        flex-direction: column;
        margin-inline: 0;
        position: fixed;
        padding: min(30vh, 10rem) 2rem;
        inset: 0 0 0 35%;
        z-index: 1000;
        --gap: 2em;

        transition: transform 0.3s ease-in-out; /* Smooth slide transition */
        transform: translateX(100%); /* Start hidden */

        overflow-y: auto; /* Allows scrolling within the menu */
        height: 100vh;

        background: hsl(0 0% 100% / 0.3);
        backdrop-filter: blur(1.5rem);
    }

    .primary-navigation.expanded {
        transform: translateX(0); /* Slide in when expanded */
    }

    .mobile-nav-toggle{
        display: block;
        position: absolute;
        z-index: 9999;
        background: none;
        color: var(--title-text-color);
        width: 2rem;
        aspect-ratio: 1;
        top: 1.75rem;
        right: 1rem;
        border: 0;
    }

    .mobile-nav-toggle i {
        font-size: 1.3rem;
    }

    body.nav-expanded {
        overflow: hidden; /* Prevents scrolling of the body when nav is expanded */
    }
}

@media (min-width: 40em) {
    .primary-navigation {
        padding: 1rem;
    }

    .primary-header{
        background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(0.5rem);
    }
}