.primary-header{
    border: 1px solid red;
    display: flex;
    gap: var(--gap, 1rem);
    align-items: center;
    justify-content: space-between;
    z-index: 99999;
}

.logo{
    margin: 1rem;
    text-decoration: none;
    color: #C5C6C7;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 2;
    text-transform: uppercase;
}

.primary-navigation{
    display: flex;
    margin-inline: 2rem;
    padding: 0;
    gap: var(--gap, 1rem);
    list-style-type: none;
}

.primary-navigation li {
    display: flex;
    align-items: center;
    font-family: 'ff sans cond';
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2;
}

.primary-navigation li span {
    font-weight: bold;
    color: red;
}

.primary-navigation li a {
    text-decoration: none;
    color: #C5C6C7;
    transition: color 0.3s ease-in-out; /* Smooth color transition on hover */
}

.primary-navigation a > span {
    margin-inline-end: .5em;
}

.primary-navigation li a:hover {
    color: #FFD700 /* Change color on hover */
}

.primary-navigation li span, .primary-navigation li a {
    cursor: pointer;
}

@media (max-width: 40em) {
    .primary-header{
        padding: 1rem;
    }
    .primary-navigation {
        position: fixed;
    }
}