.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    color: white;
    font-family: Arial, sans-serif;
    position: fixed;
    flex:1;
    width: 100vw;
    height: 55px;
    z-index: 5000;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.navbar-brand a{
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    margin-left: 10px;
    transition: color 0.3s;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    margin-left: 10px;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #f0f0f0;
}