.page-section {
    flex:1;
    display: flex;
    padding:1rem;
    margin:0;
    min-height: 40dvh;
}
  
.page-section:nth-child(even) {
    background-color: var(--background-color);
    flex-direction: row;
    z-index: 1000;
    opacity: 1;
}

.page-section:nth-child(odd) {
    background-color: var(--alt-background-color);
    flex-direction: row-reverse;
    z-index: 1000;
    opacity: 1;
}

.page-section-text {
    flex: 1;
    color: var(--title-text-color);
    padding: 1.5rem;
    align-content: center;
}

.page-section-title {
    font-size: clamp(1.3rem, 4vw, 2rem);
    color: var(--title-text-color);
    /* text-align: center; */
}
  
.page-section-text p {
    color: var(--body-text-color);
    /* font-size: 1.2rem; */
    font-size: clamp(1.3rem, 4vw, 2rem);
    margin-inline: auto;
}

.page-section-image {
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-section-image img{
    display: block;
    max-width: 35dvw;
    max-height: 45dvh;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    transition: transform 0.3s ease-in-out;

}

.page-section-images img {
    display: block;
    max-width: 35dvw;
    height: auto; /* Maintains aspect ratio */
    border-radius: 12px; /* Softer rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 8px 15px rgba(0, 0, 0, 0.08); /* Softer shadows for a modern look */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Adds smooth transition for hover effects */
    object-fit: cover; /* Ensures images fill their containers without distortion */
    width: calc(45% - 16px);
}

.page-section-image img:hover{
    transform: scale(1.05);
}

/* .page-section-images img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15), 0 10px 20px rgba(0, 0, 0, 0.1);
} */

.page-section-images {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


@media (max-width: 40em) {
    .page-section:nth-child(even) {
        flex-direction: column-reverse;
    }
    .page-section:nth-child(odd) {
        flex-direction: column-reverse;
    }
    .page-section-image img{
        display: block;
        max-width: 85dvw;
        max-height: 35dvh;
    }
    .page-section-images img{
        width: auto;
    }
    .page-section-images {
        flex-direction: column;
    }
}