.page-section:nth-child(even){
    display: flex;
    border: 1px solid red;
    flex:1;
    background-color: var(--background-color);
    z-index: 1000;
}

.page-section:nth-child(odd){
    display: flex;
    border: 1px solid red;
    flex:1;
    background-color: var(--alt-background-color);
    z-index: 1000;
}

.page-section-title {

}

.page-section-image {
    border: solid 1px black;
    flex:1;
}

.page-section-text {
    border: solid 1px white;
    flex:1;
}