:root {
  --background-color: #778899; /* Light Slate Gray */
  --title-text-color: #ffffff; /* Dark Slate Blue */
  --title-text-hover: #6A5ACD; /* Slate Blue */
  --body-text-color: #696969; /* Dim Gray */
  --caption-text-color: #A9A9A9; /* Dark Gray */
  --background-hover-color: #B0C4DE; /* Light Steel Blue */
  --border: 1px solid #D3D3D3; /* Light Gray */
  --nav-arrows: var(--title-text-color);
  --nav-arrows-hover: var(--title-text-hover);

  --alt-background-color: #90a1b8;
  --alt-title-text-color: #2F4F4F; /* Dark Slate Gray */
  --alt-title-text-hover: #556B2F; /* Dark Olive Green */
  --alt-body-text-color: #696969; /* Dim Gray */
  --alt-caption-text-color: #A9A9A9; /* Dark Gray */
  --alt-background-hover-color: #D3D3D3; /* Light Gray */
}