code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  background-color: #CCF2D3;
  font-family: 'Courier New', Courier, monospace;
  font-family:monospace;
}

/* Style for all links */
a {
  text-decoration: none; /* Removes the underline */
  color: #0047AB; /* Custom color for the link text */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

/* Style for hovered links */
a:hover {
  color: #007BFF; /* Change the color when hovered */
}

/* Style for visited links */
a:visited {
  color: #0047AB; /* Keep the same color for visited links */
}

.gradient-background {
  background: linear-gradient(90deg, var(--background-color), var(--alt-background-color));
}

.gradient-background-reverse {
  background: linear-gradient(90deg, var(--alt-background-color), var(--background-color));
}